<div class= "uppage">
<%= render 'shared/navbar' %>
</div>
<div class= "whomi">
<%= render 'shared/whomi' %>
</div>
<div class = "card">
<%= render 'shared/card' %>
</div>
<%= render 'shared/footer' %>
