.navbar{
  height: 8vh;
  background: #001524;
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: aliceblue;
}

.navbar-collapse {
  float: right;
  text-align: end;
  flex-grow: 0;
}
.navbar img {
  width: 40px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.navbar-nav {
margin-right: 5vh;
}
.navbar-light .navbar-nav .nav-link {
    color: aliceblue;
}
